:root {
    font-family: 'Fuzzy bubbles' , 'cursive';
}

.main-section-banner {
    background-image: url('/images/front-view-cyber-monday-shopping-cart-with-bags-copy-space_23-2148657638.jpg');
    background-position: center;
    background-position: cover;
};